
.unity-inspector-main-container {
    
    border-color: #282828;
}

#unity-content-viewport {
    border-color: #282828;
}

.unity-inspector-element {
    padding-right: 4;
}

.unity-scroller :disabled {
    opacity: 0;
}
.unity-scroller :enabled {
    opacity: 0;
}
.unity-scroller :hover {
    opacity: 1;
}

#InspectorSearch {
    flex-grow: 1;
    width: auto;
    min-width: 125;
    max-width: 300;
}

#RowContainer {
    flex-grow: 1;
}